/* CSS styles used in the shiny app */

/* to avoid red text error messages in the whole app, take out for testing*/
.shiny-output-error { visibility: hidden; }
.shiny-output-error:before { visibility: hidden; }

/* Style sidebars/well panels */
.well {background-color:#ffffff; border: 0 solid #336699;
       padding: 5px; box-shadow: none; }
       
.navbar-default .navbar-brand {color: #c11;}
