/* CSS styles used in the shiny app */

/* to avoid red text error messages in the whole app, take out for testing*/
/*.shiny-output-error { visibility: hidden; }
.shiny-output-error:before { visibility: hidden; }

/* Style sidebars/well panels */
.well {background-color:#ffffff; border: 0 solid #336699;
       padding: 5px; box-shadow: none; }

/* Navigation bar following PHS colour scheme */       
.navbar-default .navbar-brand {color: #ffffff; background-color: #433684}
    
/* Paints the ribbon that contains the tab headers white */
.tabbable > .nav > li > a {  color: #000000;  } 

/* Highlights the header of the active tab in blue */
.tabbable > .nav > li[class = active] > a { 
                  background-color: #0072B2; 
                  color: #FFFFFF; } 
                  
